html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    background-color: #0076CE;
    grid-column: 1;
    grid-row: 1 / -1;
    font-size: 150%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    margin-bottom: 20%;
    margin-top: 10%;
    color: white;
}

#ball {
    height: 100%;
    width: 20%;
}

.side-content {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    gap: 15%;
    justify-items: center;
    color: white;
}


.header {
    background-color: #fff;
    grid-column: 2 / -1;
}

.search-bar-section {
    margin-top: 1%;
    display: grid;
    grid-template: 1fr / 0.2fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.profile-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#search {
    background-color: #DCDCDC	;
    border-radius: 12px;
    height: 45%;
    border: 0px;
    justify-self: stretch;
    max-width: 80%;
    margin-left: 2%;
}

#search:focus {
    border: 1px solid black;
}

.fa-search {
    align-items: center;
    justify-self: end;
    
}

.main {
    background-color: #DCDCDC;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template: repeat(auto-fit, minmax(50px, 1fr)) / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.trending-container {
    background-color: #fff;
    height: 80%;
    width: 80%;
    border-radius: 6px;
    display: grid;
    grid-template: repeat(4, 1fr) / 4fr 1fr;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#winners {
    font-size: 120%;
    text-align: left;
    margin-bottom: 3%;
}

.trending-section {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-column: 1 / -1;
    margin-left: 10%;
    
}

.block {
    grid-column: 2 / 3;
}

h5 {
    font-size: 120%;
}

.block > p {
    color: grey;
    font-size: 100%;
}

.card {
    background-color: #fff;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    text-align: center;
    border-left: 5px solid orange;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.card h3 {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.card p {
    font-size: 90%;
    text-align: left;
    width: 80%;
    margin: auto;
}

.icons {
    display: flex;
    justify-content: end;
    gap: 5%;
    margin-right: 5%;
}

.fa-eye:hover,.fa-plus-circle:hover,.fa-star:hover {
    color: gold;
}


.trending-section > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-pic  {
    width: 20%;
    height: 100%;
    border-radius: 50%;
}

.big-profile-pic {
    width: 80%;
    height: 100%;
    border-radius: 50%;
}


.next-games-container {
    background-color: #fff;
    height: 63%;
    width: 80%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-game-section {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.img-clubs {
    width: 10%;
    height: 20%;
}

.next-game-section h5, p {
    gap: 10px;
    font-size: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.presentation {
    display: grid;
    grid-template: 1fr 0.1fr / 0.5fr 3fr 1.5fr;
    align-items: center;
    justify-items: center;
}

.buttons {
    display: grid;
    gap: 7%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 3 / 4;
}

button {
    border: none;
    width: 100px;
    box-shadow: none;
    cursor: pointer;
    padding: 2px;
    font-size: 100%;
    height: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
}

button:hover{
    box-shadow: 0 0 0 0.15rem #5ceace;
    }



#welcome {
    font-size: 150%;
}

#username {
    font-size: 250%;
}

/* MAIN -  I need everything to be a grid, not just projects. Next Games and Trending need to become part of the same container as projects, just with different height */